body {
  width: 95%;
  margin: auto;
  font-size: larger;
}

.name {
  text-align: center;
  color: rgba(0, 0, 0, 0.805);
}
.post {
  width: 95%;
  margin: auto;
  padding-top: 10px;
}
.marginbot {
  margin-bottom: 5%;
  padding-left:5%;
  padding-right:5%;
  padding-top: 2%;
}
.salary {
  background-color: aliceblue;
  padding:2%
}
.logo {
  padding-left: 30px;
}